<div class="partial-container">

    <img class="beerImg" src="{{ image_url }}" alt="{{ name }}">
    <h3>{{ name }}</h3>
    <p class="tagline">Tagline: {{ tagline }}</p>
    <p>Description: {{ description }}</p>
</div>